<style>
  .btn-success, .btn-success:hover, .btn-success:active, .btn-success:focus {
    background-color: #89595A;
    border-color: #89595A;
    box-shadow: none;
} 
</style>


<div class="input-group mb-4 mt-5">
  <div class="input-group mb-2">
    <button class="btn btn-outline-secondary" type="button">Adverb</button>
    <button class="btn btn-outline-secondary" type="button">Verb</button>
    <button class="btn btn-outline-secondary" type="button">Adjective</button>
    <button class="btn btn-outline-secondary" type="button">Noun</button>
  </div>
  <input type="text" class="form-control" id="wordContent" name="wordContent" aria-label="wordContent" aria-describedby="basic-addon1" required><%= entry.wordContent %>
</div>


<a href="/entries" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-success">Save</button>