<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="custom.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Corporate BS Generator | Login</title>

 
</head>

<body>

    <%- include("../partials/navbar.ejs", { pageName : "login" }) %>

  <main role="main">
      <div class="container">
        <div class="col-lg-4">
            <h1 class="display-5 mb-4 mt-4">Login</h1>
                <% if (messages.error) { %>
                    <%= messages.error %>
                    <% } %>
            <form class="sign-in mb-4 mt-2" action="/login" method="POST">
                <div>
                    <label for="Email" class="sr-only"></label>
                    <input type="email" id="email" class="form-control" placeholder="Email address" name="email" required autofocus>
                    <label for="Password" class="sr-only"></label>
                    <input type="password" id="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                <div class="button-group mt-3">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                    <a href="/users/register" class="btn btn-secondary">Register</a>  
                </div>
            </form>
            
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>


</html>

