<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="custom.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Corporate BS Generator | Register</title>

 
</head>

<body>
    <header>
        <nav class="navbar navbar-dark navbar-expand-sm bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex">CBS Gen</a>
                <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/users/account">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/generator">Generator</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="/entries">Entries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">Admin</a>
                </li>
                </ul>
            </nav>
</header>
  <main role="main">
      <div class="container">
        <div class="col-lg-4">
            <h1 class="display-5 mb-4 mt-4">Register</h1>
                <% if(typeof alert != "undefined") { %>
                    <% alert.forEach(function(error) { %>
                        <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                            <%= error.msg %>
                        </div>
                   <% }) %>
                <% } %>

                <% if (messages.error) { %>
                    <%= messages.error %>
                    <% } %>
                    <style>
                        .btn-success, .btn-success:hover, .btn-success:active, .btn-success:focus {
                            background-color: #89595A;
                            border-color: #89595A;
                            box-shadow: none;
                        } 
                        .form-control:focus {
                            border: none;
                            box-shadow: 0 0 8px #747372;
                        }
                    </style>
                    <form class="sign-in mb-4" action="/users/register" method="POST">
                        <div>
                            <label for="firstName" class="sr-only">First name</label>
                            <input type="text" id="firstName" class="form-control" name="firstName" required autofocus>
                        </div>
                        <div>
                            <label for="lastName" class="sr-only">Last name</label>
                            <input type="text" id="lastName" class="form-control" name="lastName" required autofocus>
                        </div>
                        <div>
                            <label for="Email" class="sr-only">Email</label>
                            <input type="email" id="email" class="form-control" name="email" required autofocus>
                        </div>
                        <div>
                            <label for="Password" class="sr-only">Password (min. 6 characters)</label>
                            <input type="password" id="password" class="form-control" name="password" required>
                        </div>
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" value="termsAndPrivacy" id="defaultCheck1" required>
                            <label class="form-check-label" for="defaultCheck1">
                              By registering I accept the 
                              <a href="/users/register/terms">Worms & Emissions</a>
                              as well as the 
                              <a href="/users/register/privacy">No-Privacy-Policy</a>
                            </label>
                          </div>
                          <button type="submit" class="btn btn-success btn-block mt-4">Register</button>
                        </form>
                       
                            <p class="lead text-muted">or</p>
                            <a href="/login" class="btn btn-secondary mb-5">Log in with existing account</a>
                        
        </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>

<footer class="text-muted">
    <div class="container mt-4 mb-3">
        <hr class="featurette-divider">
      <div>
        <p>Contact the author on
            <a href="https://www.linkedin.com/in/ninaboehm/">LinkedIn</a>
        </p>
      </div>
    </div>
</footer>
</html>


